Your Azure environment details:
Resource Group: openenv-9bkpg
Application: openenv-9bkpg
Application/Client/Service Principal ID: 52192eac
Password: 6NY.Z0475
Tenant ID: 1ce7852
Subscription ID: ede7f891-835

Azure CLI quickstart:
export GUID=9bkpg
export CLIENT_ID=52192ea
export PASSWORD=6NY.Z04
export TENANT=1ce7852f
export SUBSCRIPTION=ede
export RESOURCEGROUP=openenv-9bkpg

curl -L https://aka.ms/InstallAzureCli | bash
az login --service-principal -u $CLIENT_ID -p $PASSWORD --tenant $TENANT

See https://docs.microsoft.com/en-us/cli/azure/install-azure-cli for more info on installing the azure CLI
See https://docs.microsoft.com/en-us/cli/azure/ for full documentation of the azure CLI

When creating ARO clusters, you must specify the following credentials in the az aro create command using this preconfigured service principal:
Resource Group: openenv-9bkpg
Client ID: ab78a0b3
Client Secret: h4R
