apiVersion: v1
baseDomain: example.opentlc.com
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: aro
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
    baseDomainResourceGroupName: "{{ RESOURCEGROUP }}"
    cloudName: AzurePublicCloud
    outboundType: Loadbalancer
    region: eastus
publish: External
pullSecret: '{"auths":{"cloud.openshift.com":{"auth":"b3Blc1S1BOVTIwSVYwSw==","email":"jinzha@redhat.com"},"quay.io":{"auth":"b3BlbnNoaWS1BOVTIwSVYwSw==","email":"jinzha@redhat.com"},"registry.connect.redhat.com":{"auth":"NTEzMTc5Njd8dWhjLTFPczlZVdjaU9pSlNVelV4TWlKOS5leUxNkpnaw==","email":"jinzha@redhat.com"},"registry.redhat.io":{"auth":"NTEzMTc5Njd8dWhjLTFPczlZVWQ0Y6bUFlQXFxNkpnaw==","email":"jinzha@redhat.com"}}}'
sshKey: |
  ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIONeWKSpAxbJrkkThCxUjlVe80jSz2y9hIpDLpx43AyY root@localhost.localdomain
